.utilization .details-container {
  margin-bottom: 20px;
}

.utilization input {
  margin-bottom: 20px;
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.utilization table {
  width: 100%;
  border-collapse: collapse;
}

.utilization th, .utilization td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.utilization th {
  background-color: #f4f4f4;
  font-weight: bold;
}

.utilization tr:nth-child(even) {
  background-color: #f9f9f9;
}

.utilization tr:hover {
  background-color: #eaeaea;
}

.utilization .current-week {
  background-color: #ffeb3b; /* Highlight color for the current week */
}

.utilization td input {
  width: 100%;
  border: none;
  padding: 4px;
  box-sizing: border-box;
}

.utilization .holiday-list-container {
  margin-top: 20px;
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.utilization .holiday-list-container h3 {
  margin-bottom: 10px;
}

.utilization .holiday-list-container ul {
  list-style-type: none;
  padding: 0;
}

.utilization .holiday-list-container ul li {
  margin-bottom: 5px;
}

.utilization .green {
  color: green;
}

.utilization .red {
  color: red;
}

.utilization thead tr {
  position: sticky;
  top: 0;
  background: #f8f8f8;
  z-index: 2;
}

.utilization thead tr.summary-row {
  top: 65px; /* height of first header row */
  background: #e0e0e0;
  font-weight: bold;
  z-index: 1;
}
